.breadcrumb-item + .breadcrumb-item::before {
    content: "＞";
    padding: 0 0.5rem;
    color: #fff;
}

.about {
  padding: 20px 0 100px 0;
  background-color: none;

  &_pic {
      width: 100%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

  &_text {
    padding: 0 24px;
    font-weight: 200;
    line-height: 30px;
    color: $color-3a;
  }
}

.container {
  max-width: 1200px;
}

@media (max-width: 991px) {        
  .about {
    &_text {
      padding: 24px 0;
    } 
  }
}