.news {
    .card{
      margin-left: 39px;
      margin-bottom: 60px;
      border-radius: 0;
      border: 0;
      position: relative;
      width: 100%;
      display: block;
  
      >img {
        border-radius: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
  
      &-body{
        padding:13px 21px 16px 22px;
        display: flex;
        align-items: flex-start;
        gap: 28px;
      }
  
      &-time{
        width: 56px;
      }
  
      &-date{
        font-size: 22px;
        font-weight: 400;
        color: $second-color;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
  
        .top,
        .bottom {
          display: block;
        }
  
        .top{
          transform: translateY(-30%); 
        }
  
        .bottom{
          transform: translateY(30%); 
        }
  
        .slash {
          font-weight: 200;
          display: block;
          align-items: center;
          transform: rotate(5deg);
          line-height: 0.5;
          margin: 2px 0;
        }
      }
      
      &-year{
        font-size: 22px;
        font-weight: 300;
        color: $second-color;
        margin: 0;
        text-align: center; 
      }
  
      &-text {
        font-size: 22px;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  
    &:nth-child(1),
    &:nth-child(4) {
      .card {
        margin-left: 0;
      }
    }
  }