@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #3A3A3A;
  letter-spacing: 0.05em;
  background-color: #F5F5F5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #3A3A3A;
  text-decoration: none;
}
a:hover {
  color: #3A3A3A;
  text-decoration: none;
}

input {
  background-color: transparent;
  border: 0;
  outline: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.mb-sec {
  margin-bottom: 90px;
}

.header {
  color: #fff;
  height: 85px;
  width: 1140px;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.5s;
}
.header_right {
  height: 100%;
}
.header_content {
  height: 100%;
  position: relative;
  padding: 0 85px 0 30px;
  background-color: #545341;
}
.header_logo {
  width: 180px;
  display: block;
}
.header_logo img {
  width: 100%;
}
.header_nav {
  height: 100%;
  position: relative;
  padding-right: 10px;
  transition: 0.5s;
}
.header_nav_main {
  height: 100%;
}
.header_nav_main > li {
  position: relative;
  height: 100%;
}
.header_nav_main > li > a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.05em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}
.header_nav_main > li > a > img {
  width: 18px;
  margin-left: 5px;
  transition: 0.5s;
  display: none;
}
.header_nav_main > li > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  background: rgba(217, 217, 217, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.header_nav_main > li:hover a::after {
  opacity: 1;
}
.header_nav_main > li:hover .header_nav_second {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.header_nav_main > li.dropdown {
  background-color: #c0bfb0;
}
.header_nav_main > li.dropdown > a > img {
  transform: rotate(180deg);
}
.header_nav_second {
  position: absolute;
  right: 0;
  top: 100%;
  width: 175px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(-10px);
}
.header_nav_second > li > a {
  display: block;
  padding: 10px;
  color: #545341;
  font-weight: 300;
  transition: 0.5s;
}
.header_nav_second > li > a:hover {
  color: #898400;
}
.header_nav::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header_nav.search {
  opacity: 0;
  visibility: hidden;
}
.header_search {
  position: absolute;
  height: 50px;
  width: 650px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  border-radius: 100px;
  background: rgba(218, 217, 203, 0.2);
  padding: 10px 15px;
  width: 53px;
  overflow: hidden;
  transition: 0.5s;
  background-color: transparent;
}
.header_search.search {
  width: 650px;
  background: rgba(218, 217, 203, 0.2);
}
.header_search_inner {
  width: 620px;
}
.header_search_hide {
  width: calc(100% - 23px);
  height: 100%;
}
.header_search_close {
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.41);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_search_close_inner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #DAD9CB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_search_close_inner img {
  width: 60%;
}
.header_search input {
  background-color: transparent;
  height: 100%;
  padding: 0 16px;
  width: calc(100% - 26px);
}
.header_search input::-moz-placeholder {
  color: #DAD9CB;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.header_search input::placeholder {
  color: #DAD9CB;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.header_search_btn {
  width: 23px;
  cursor: pointer;
}
.header_search_btn svg {
  width: 100%;
}
.header_menu {
  width: 25px;
  height: 19px;
  position: relative;
  cursor: pointer;
}
.header_menu .bar {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.5s;
}
.header_menu .bar.top {
  top: 0;
}
.header_menu .bar.center {
  top: 9px;
}
.header_menu .bar.bottom {
  top: 18px;
}
.header_menu.active .bar {
  top: 50%;
  left: 50%;
}
.header_menu.active .bar.top {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header_menu.active .bar.center {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header_menu.active .bar.bottom {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header.scrolldown {
  width: 100%;
  top: 0;
}
@media screen and (max-width: 1140px) {
  .header {
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header_content {
    padding: 0 20px;
  }
  .header_logo {
    width: 150px;
  }
  .header_right {
    position: fixed;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    right: 0;
    background-color: #DAD9CB;
    padding: 0 20px;
    display: none;
  }
  .header_nav {
    height: auto;
  }
  .header_nav_main {
    height: auto;
    padding-top: 10px;
  }
  .header_nav_main > li {
    padding: 8px 0;
  }
  .header_nav_main > li > a {
    justify-content: center;
    color: #545341 !important;
  }
  .header_nav_main > li > a > img {
    display: block;
  }
  .header_nav_main > li > a::after {
    opacity: 0 !important;
  }
  .header_nav_second {
    opacity: 1;
    visibility: visible;
    position: static;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    transform: none;
    padding: 10px 0;
    display: none;
    transition: none;
  }
  .header_nav_second > li > a {
    text-align: center;
    padding: 5px 0;
  }
  .header_nav:after {
    display: none;
  }
  .header_search {
    position: static;
    transform: none;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #9c9b8b;
    height: 40px;
    padding: 5px 15px;
  }
  .header_search input {
    width: 100%;
  }
  .header_search input::-moz-placeholder {
    color: #9c9b8b;
  }
  .header_search input::placeholder {
    color: #9c9b8b;
  }
  .header_search_btn svg path {
    stroke: #545341;
  }
}

@media screen and (max-width: 1140px) {
  main {
    padding-top: 85px;
  }
}
@media screen and (max-width: 991px) {
  main {
    padding-top: 70px;
  }
}

.footer {
  background-color: #545341;
  color: #DAD9CB;
  padding: 55px 0px;
}
.footer__top {
  margin-bottom: 40px;
}
.footer__logo img {
  width: 180px;
  height: auto;
  padding-bottom: 38px;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding-bottom: 38px;
}
.footer__info li {
  width: 50%;
  padding-bottom: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.footer__info li i {
  font-size: 15px;
  color: #DAD9CB;
  margin-right: 8px;
}
.footer__info li span {
  font-size: 12px;
  color: #DAD9CB;
  font-weight: lighter;
}
.footer__nav {
  font-weight: lighter;
  margin-left: auto;
  max-width: 375px;
}
.footer__nav li {
  margin-bottom: 10px;
}
.footer__nav li a {
  color: #DAD9CB;
  font-size: 16px;
  transition: 0.5s;
}
.footer__nav li a:hover {
  opacity: 0.7;
}
.footer__bottom {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__bottom p {
  font-weight: lighter;
  margin: 0;
  font-size: 13px;
}
.footer__social {
  display: flex;
  gap: 10px;
}
.footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #DAD9CB;
  border-radius: 50%;
  color: #DAD9CB;
  font-size: 16px;
  transition: 0.3s;
}
.footer__social a:hover {
  color: #545341;
  background-color: #DAD9CB;
}
@media (max-width: 1200px) {
  .footer {
    padding: 55px 30px;
  }
}
@media (max-width: 991px) {
  .footer__info {
    width: 100%;
  }
  .footer__info li {
    width: 100%;
  }
  .footer__nav {
    margin-left: 0;
  }
  .footer__nav .row {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .footer__bottom p {
    font-size: 12px;
    order: 2;
  }
  .footer__bottom .footer__social {
    justify-content: center;
    gap: 8px;
    order: 1;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 60px 20px;
  }
  .footer__nav__bottom {
    gap: 10px;
  }
  .footer__nav__bottom p {
    font-size: 12px;
    order: 2;
  }
  .footer__nav__bottom .footer__social {
    order: 1;
  }
  .footer__nav__bottom .footer__social a {
    width: 26px;
    height: 26px;
    font-size: 14px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
}
.banner-image {
  position: relative;
  width: 100%;
  padding-bottom: 46%;
  overflow: hidden;
}
.banner-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}
.banner-image .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 83, 65, 0.35);
  z-index: 1;
}
.banner-image .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
}
.banner-image .banner-title h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}
.banner-image .banner-title h1 span {
  font-family: Lato;
  font-size: 40px;
  font-weight: 300;
  display: block;
}
@media (max-width: 991px) {
  .banner-image {
    padding-bottom: 80%;
  }
  .banner-image .banner-title h1 {
    font-size: 45px;
    font-weight: 500;
  }
  .banner-image .banner-title h1 span {
    font-size: 30px;
  }
}

.breadcrumb-nav {
  background-color: rgba(84, 83, 65, 0.35);
  position: relative;
  z-index: 2;
  padding: 8px 0;
}
.breadcrumb-nav .breadcrumb {
  margin: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  list-style: none;
}
.breadcrumb-nav .breadcrumb a {
  color: #fff;
}
.breadcrumb-nav .breadcrumb .active {
  color: #545341;
}
.breadcrumb-nav .breadcrumb-item {
  position: relative;
  padding-left: 30px;
}
.breadcrumb-nav .breadcrumb-item:first-child {
  padding-left: 0;
}
.breadcrumb-nav .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  color: #fff;
  background-image: url(../img/Vector.svg);
  width: 7px;
  height: 10.8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 12px;
  position: absolute;
  transform: translateY(-50%);
}

.nav-common {
  padding-top: 50px;
  padding-bottom: 103px;
  text-align: center;
}
.nav-common .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-common a {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  color: #545341;
  margin: 0 30px;
  padding-bottom: 4.5px;
  position: relative;
  transition: 0.5s;
  border-bottom: 1px solid transparent;
}
.nav-common a.active {
  border-color: #545341;
}
.nav-common a:not(.active):hover {
  border-color: #545341;
}
.nav-common a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 32px;
  background-color: #929292;
  top: 50%;
  right: -30px;
  transform: translate(50%, -50%);
}
.nav-common a:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .nav-common {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .nav-common a {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .nav-common .container a {
    margin: 0 20px;
  }
}

.news .card {
  margin-left: 39px;
  margin-bottom: 60px;
}
.news .card-body {
  padding: 13px 21px 16px 22px;
  display: flex;
  align-items: flex-start;
  gap: 28px;
}
.news .card-time {
  width: 56px;
}
.news .card-date {
  font-size: 22px;
  font-weight: 400;
  color: #898400;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news .card-date .top,
.news .card-date .bottom {
  display: block;
}
.news .card-date .top {
  transform: translateY(-30%);
}
.news .card-date .bottom {
  transform: translateY(30%);
}
.news .card-date .slash {
  font-weight: 200;
  display: block;
  align-items: center;
  transform: rotate(5deg);
  line-height: 0.5;
  margin: 2px 0;
}
.news .card-year {
  font-size: 22px;
  font-weight: 300;
  color: #898400;
  margin: 0;
}
.news .card-text {
  font-size: 22px;
  font-weight: 500;
}
.news:nth-child(1) .card, .news:nth-child(4) .card {
  margin-left: 0;
}

.pagination {
  justify-content: center;
  padding-bottom: 74px;
  gap: 10px;
}
.pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #929292;
  width: 35px;
  height: 35px;
  background-color: transparent;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.pagination .page-link.active {
  color: #545341;
  background-color: transparent;
  border: 2px solid #DAD9CB;
}
.pagination .page-link.back {
  border: 0;
  width: auto;
  height: auto;
}
.pagination .page-link.back img {
  width: 40px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}
.pagination .page-link.next {
  border: 0;
  width: auto;
  height: auto;
}
.pagination .page-link.next img {
  width: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.banner-home {
  position: relative;
  margin-bottom: 105px;
}
.banner-home_pic {
  width: 100%;
  padding-bottom: 40%;
  position: relative;
}
.banner-home_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.banner-home .swiper-button-next {
  right: 8%;
  width: 40px;
}
.banner-home .swiper-button-next img {
  width: 100%;
}
.banner-home .swiper-button-next::after {
  display: none;
}
.banner-home .swiper-button-prev {
  left: 8%;
  width: 40px;
}
.banner-home .swiper-button-prev img {
  width: 100%;
}
.banner-home .swiper-button-prev::after {
  display: none;
}
.banner-home_smallSwiper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.banner-home_smallSwiper .swiper-slide-thumb-active .banner-home_smallPic_mask {
  opacity: 0;
}
.banner-home_smallPic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}
.banner-home_smallPic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.banner-home_smallPic_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .banner-home_pic {
    padding-bottom: 80%;
  }
  .banner-home .swiper-button-next {
    width: 30px;
    right: 5%;
  }
  .banner-home .swiper-button-prev {
    width: 30px;
    left: 5%;
  }
}
@media screen and (max-width: 575px) {
  .banner-home_smallPic {
    width: 50px;
    height: 50px;
    border-width: 2px;
  }
  .banner-home_smallSwiper {
    width: 200px;
  }
}

.home-title h2 {
  font-size: 40px;
  margin: 0;
  font-weight: normal;
  color: #545341;
}
.home-title h3 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #898400;
}
@media screen and (max-width: 575px) {
  .home-title h2 {
    font-size: 30px;
  }
}
.home_more {
  padding-right: 20px;
  position: relative;
  z-index: 0;
}
.home_more span {
  font-size: 18px;
  color: #545341;
  font-weight: 300;
  font-family: "Mulish", sans-serif;
  z-index: 1;
}
.home_more img {
  width: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}
.home_more:hover img {
  transform: translate(10px, -50%);
}
.home_about_pic {
  position: relative;
  padding: 50px 0 50px 112px;
  background: linear-gradient(to right, #3A3A3A 0%, #3A3A3A 88%, transparent 88%, transparent 100%);
}
.home_about_pic > img {
  width: 100%;
}
.home_about_title {
  position: absolute;
  transform: rotate(-90deg);
  top: 29%;
  left: -10%;
}
.home_about_title h2, .home_about_title h3 {
  color: #929292;
}
.home_about_text {
  padding-left: 60px;
}
.home_about_text p {
  line-height: 1.9;
  font-weight: 300;
  margin: 0;
}
@media screen and (max-width: 1399px) {
  .home_about_title {
    top: 33%;
  }
}
@media screen and (max-width: 1199px) {
  .home_about_pic {
    padding-left: 90px;
  }
  .home_about_title {
    top: 40%;
    left: -16%;
  }
  .home_about_text {
    padding-left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .home_about_title {
    top: 26%;
    left: -11%;
  }
  .home_about_text {
    padding-left: 0;
    padding-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .home_about_title {
    top: 34%;
    left: -14%;
  }
}
@media screen and (max-width: 575px) {
  .home_about_title {
    top: 109px;
    left: -60px;
  }
  .home_about_pic {
    padding: 30px 0 30px 80px;
  }
}
.home_product_item {
  position: relative;
  width: 100%;
  padding-bottom: 85%;
  display: block;
}
.home_product_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.home_product_item:hover .home_product_mask, .home_product_item:hover .home_product_text {
  opacity: 1;
}
.home_product_item.short {
  padding-bottom: 40%;
  margin-top: 4%;
}
.home_product_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 83, 65, 0.41);
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.home_product_text {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  background-color: rgba(84, 83, 65, 0.76);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}
.home_product_text h4 {
  width: 100%;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 30px;
}
.home_product_text p {
  width: 100%;
  color: #fff;
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  font-family: "Mulish", sans-serif;
}
@media screen and (max-width: 991px) {
  .home_product_right {
    margin-top: 4%;
  }
  .home_product_mask {
    opacity: 1;
  }
  .home_product_text {
    opacity: 1;
    background-color: transparent;
  }
  .home_product_text h4, .home_product_text p {
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 767px) {
  .home_product_item.short {
    padding-bottom: 85%;
  }
  .home_product_right {
    margin-top: 0;
  }
  .home_product_right > .row > div {
    margin-top: 4%;
  }
}
.home_news {
  margin-bottom: 105px;
}
.home_news_item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.home_news_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.home_news_item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(84, 83, 65, 0.76);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
.home_news_item:hover::before {
  opacity: 1;
}
.home_news_item:hover .home_news_text h4, .home_news_item:hover .home_news_text p {
  color: #fff;
}
.home_news_text {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}
.home_news_text h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 500;
  transition: 0.5s;
}
.home_news_text p {
  font-size: 12px;
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}
.home_news_text.text-white h4, .home_news_text.text-white p {
  color: #fff;
}
.home_news_text.text-dark h4, .home_news_text.text-dark p {
  color: #545341;
}
@media screen and (max-width: 400px) {
  .home_news {
    margin-bottom: 50px;
  }
  .home_news_text {
    top: 15px;
    left: 15px;
  }
}
.home_service {
  margin-bottom: 220px;
}
.home_service .container {
  position: relative;
}
.home_service_pic {
  width: 74%;
  padding-bottom: 40.7%;
  position: relative;
  margin-left: auto;
}
.home_service_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.home_service_text {
  width: 50%;
  padding: 30px;
  background-color: #DAD9CB;
  position: absolute;
  left: 20px;
  top: 45%;
}
.home_service_text p {
  color: #3A3A3A;
  margin-bottom: 25px;
  font-weight: 300;
  line-height: 1.9;
  text-align: justify;
}
.home_service .home_more {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
}
.home_service .home-title {
  position: absolute;
  top: 16%;
  left: 14%;
  z-index: 1;
}
.home_service .home-title h3 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.home_service .home-title h3::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  background-color: #898400;
  top: 50%;
  left: calc(100% + 8px);
}
@media screen and (max-width: 991px) {
  .home_service {
    margin-bottom: 110px;
  }
  .home_service .home-title {
    position: static;
    margin-bottom: 40px;
  }
  .home_service .home-title h3::after {
    width: 150px;
  }
  .home_service_pic {
    width: 100%;
    padding-bottom: 55%;
    margin-bottom: 20px;
  }
  .home_service_text {
    position: static;
    width: 100%;
  }
}

.about {
  padding-bottom: 150px;
  background-color: none;
}
.about_pic {
  width: 100%;
  padding-right: 60px;
}
.about_pic img {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.about_text {
  padding-left: 60px;
  font-weight: 200;
  line-height: 30px;
  color: #3A3A3A;
}

@media (max-width: 991px) {
  .about {
    padding-bottom: 100px;
  }
  .about_text {
    padding: 24px 0;
  }
  .about_pic {
    padding-right: 0px;
  }
  .about_text {
    padding-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */